name: CI/CD Deploy to EC2

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    # Login to Docker Hub
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    # Build Backend Image
    - name: Build backend image
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/mean-backend:latest ./backend

    # Push Backend Image
    - name: Push backend image
      run: docker push ${{ secrets.DOCKER_USERNAME }}/mean-backend:latest

    # Build Frontend Image
    - name: Build frontend image
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/mean-frontend:latest ./frontend

    # Push Frontend Image
    - name: Push frontend image
      run: docker push ${{ secrets.DOCKER_USERNAME }}/mean-frontend:latest

    # Deploy to EC2
    - name: SSH into EC2 and deploy
      uses: appleboy/ssh-action@v0.1.6
      with:
        host: ${{ secrets.VM_HOST }}
        username: ${{ secrets.VM_USER }}
        key: ${{ secrets.VM_SSH_KEY }}
        script: |
          cd app
          sudo docker-compose pull
          sudo docker-compose up -d
